.form-row
      .form-title
            Crea un nuevo punto de interés
      = form_for [@point], html: {class: 'form-horizontal' } do |f|
            = render 'form', f: f

            %br

            .field
                  = f.submit 'Guardar', class:'btn btn-primary'
