<h1 style="color: red;">Valida tu cuenta</h1>

<p>
  Hola, <%= @user.name %>. Valida tu cuenta con el siguiente link:
  <%= link_to validate_users_path(@user.validation_token), "http://localhost:3000#{validate_users_path(@user.validation_token)}" %>
</p>
