%h1 Listing all users
%table
  %thead
    %tr
      %th Nombre
      %th Username
      %th
      %th
  %tbody
    - if @users.blank?
      %tr
        %td{:colspan => "6"}
          %em No se han encontrado usuarios
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.username
        %td= link_to 'editar', edit_user_url(user) if user.id == session[:user_id]
        %td
          = link_to [user], method: :delete do
            eliminar
