<div class="field">
      <div class="col-md-3">
            <%= f.label :pic, 'postea una imágen', class: 'control-label' %>
      </div>
      <div class="col-md-9">
            <%= f.file_field :pic %>
      </div>
</div>
