
<div class="field">
      <div class="col-md-3">
            <%= f.label :avatar, 'cambia tu foto de perfil', class: 'control-label' %>
      </div>
      <div class="col-md-9">
            <%= f.file_field :avatar %>
      </div>
</div>
