<h2>Listado de imágenes</h2>
<table>
      <thead>
            <tr>
                  <th>Pic</th>
            </tr>
      </thead>
      <tbody>
            <% if @pictures.blank? %>
            <tr>
                  <td colspan="6">
                        <em>No se han encontrado imágenes</em>
                  </td>
            </tr>
            <% end %>
            <% @pictures.each do |picture| %>
            <tr>
                  <td>
                        <%= image_tag(picture.pic.url(:thumb)) %>
                  </td>
      </tr>
      <% end %>
</tbody>
</table>
