<div class="panel">
      <div class="title-box">
            Ultimas imágenes subidas:
      </div>
      <div class="content-box">
<table>
      <thead>
            <tr>
                  <th></th>
            </tr>
      </thead>
      <tbody>
            <% if @pictures.blank? %>
            <tr>
                  <td >
                        <em>No se han encontrado puntos de interés</em>
                  </td>
            </tr>
            <% end %>
            <% @pictures.last(5).each_with_index do |p, index| %>
            <tr>
                  <td>
                        <%= link_to p do%>
                        <%= image_tag(p.pic.url(:thumb)) %>
                        <% end %>

                  </td>
            </tr>
            <% end %>
      </tbody>
</table>

</div>
</div>
