<div class="panel">

      <div class='info-user-box'>

            <div class="avatar-box">
                  <%if @picture.pic_file_name != nil %>
                  <br>
                  <%= image_tag(@picture.pic.url(:medium))%>
                  <br>
                  <%end%>
            </div>
            <div class="title-box">
                  Imagen de -----
            </div>

            <% if !@picture.pic_file_name %>
            <tr>
                  <td colspan="6">
                        <em>Esta imágen no existe</em>
                  </td>
            </tr>
            <% else %>
                  <%= link_to [@picture], method: :delete do %>
                  Eliminar
                  <% end %>
            <% end %>
      </div>
</div>
