.form-row
      .form-title
            Editando el objeto
      = form_for [@item], html: {class: 'form-horizontal' } do |f|
            = render 'form', f: f
            %br
            .field
                  = f.submit 'Guardar', class:'btn btn-primary'
