.field
  .col-md-3
    = f.label :name, 'Nombre', class: 'control-label'
  .col-md-9
    = f.text_field :name, class: 'form-control', required: true
.field
  .col-md-3
    = f.label :skyline, 'Agrega el skyline de la ciudad.', class: 'control-label'
  .col-md-9
    = f.file_field :skyline
