<div class="panel">

      <div class="title-box">
            Ciudades del juego:
      </div>
      <div class="content-box">
            <table>
                  <thead>
                        <tr>
                              <th>Nombre</th>
                              <th>Alcalde</th>
                        </tr>
                  </thead>
                  <tbody>
                        <% if @cities.blank? %>
                        <tr>
                              <td>
                                    <em>No se han encontrado ciudades</em>
                              </td>
                        </tr>
                        <% end %>
                        <% @cities.each do |c| %>
                        <tr>
                              <td>
                                    <%= link_to "#{c.name}", city_path(c) %>
                              </td>
                              <td>
                                    <%= link_to "#{@users.find(c.mayor_id).username}",@users.find(c.mayor_id) %>
                              </td>
                        </tr>
                        <% end %>
                  </tbody>
            </table>
      </div>
</div>
