<div class="panel">

      <div class="title-box">
            Ciudades del juego:
      </div>
      <div class="content-box">
            <table>
                  <thead>
                        <tr>
                              <th>Nombre</th>
                              <th>Alcalde</th>
                              <th></th>
                        </tr>
                  </thead>
                  <tbody>
                        <% if @cities.blank? %>
                        <tr>
                              <td colspan="6">
                                    <em>No se han encontrado ciudades</em>
                              </td>
                        </tr>
                        <% end %>
                        <% @cities.each do |city| %>
                        <tr>
                              <td>
                                    <%= city.name %>
                              </td>
                              <td>
                                    <%= User.find(city.mayor_id).username %>
                              </td>
                              <td>
                                    <%= link_to 'más info', city_path(city)%>
                              </td>
                        </tr>
                        <% end %>
                  </tbody>
            </table>
      </div>
</div>
