/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
  padding: 0;
  margin: 0;
}

body {
      padding-top: 8vh;
      font-family: Helvetica, Arial, sans-serif;
}

header {
      position: fixed;
      /*left: 11%;
      */
      top: 0px;
      z-index: 100;
      /*
      text-align: center;
      box-shadow: 0 0 5px 0 black;
      */
      width: 100%;
    background: #000;
    margin: auto;
    padding-top: 20px;
}
#welcome{
      padding: 1%;
      display: inline-block;
      float:left;
      font-family:  "Book Antiqua", "Times New Roman", sans-serif;
      border-radius: 25px;
      color: #fff;
    font-size: 20px;
}

a, a:visited{
    text-decoration: none;
    color: currentColor;
}
.button-link a, .button-link a:visited{
    background-color: #004f49;
    display: block;
    width: 6em;
    padding: 2px 8px;
    border: #00ffcc solid 1px;
    color: #00ffcc;
    float: right;
    margin: 3px 6px;
    font-size: 80%;
    text-align: center;
}

.stats {
    background-color: #a65617;
    display: block;
    padding: 2px 8px;
    border: #c98b1c solid 1px;
    color: #ffb023;
    float: right;
    margin: 3px 6px;
    font-size: 80%;
    text-align: center;
    min-width: 6em;
}

#boton:hover, #sidebutton:hover{
    background: #27966b;

}
#sessioninit{
      float:right;
      margin: 0px 5% 0px 0px;
      padding: 0.8% 1%;
      background: #eee;
      display: inline-block;
      border: 1%;
      border-color: #000;
      text-align: center;
      border-radius: 25px;
}
#sessionobject{
      float:right;
      margin: 0px 7% 0px 0px;
      padding: 0.8% 1%;
      background: #fff;
      display: inline-block;
      border: 1%;
      border-color: #000;
      border-radius: 25px;
}

#content{
      position: relative;
      width: 100%;
      background: none;
}
#sidebar {
      position: fixed;
      float: left;
      /*padding: 40px 0px 0px 0px;
      */
      width: 10%;
      z-index: 99;
      text-align: center;
      background: none;
      height: 100vh;
    padding-top: 2%;
    background: #000;

}

#main{
      position: relative;
      margin-left: 10%;
      text-align: center;
      background: #fff8f1;
}

.alert {
  font-weight: bold;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 18px;
  padding: 12px 25px 12px 24px;
  -moz-box-shadow: 3px 3px 1px 1px #CCCCCC;
  -webkit-box-shadow: 3px 3px 1px 1px #CCCCCC;
  box-shadow: 3px 3px 1px 1px #CCCCCC;
}
.alert-info {
  background-color: #e1c33e;
  border-color: #D6E9C6;
  color: black;
  padding-top: 20px;
}