/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
html, body {
  padding: 0;
  margin: 0;
}

body {
      padding-top: 8vh;
      font-family: Helvetica, Arial, sans-serif;
      background: #666; /* por motivos de debugueo, el fondo destaca. */
}

header {
      padding: 4vh;
      position: fixed;
      /*left: 11%;
      */
      top: 0px;
      z-index: 100;
      /*
      text-align: center;
      box-shadow: 0 0 5px 0 black;
      */
      width: 100%;
      background: #aaa;
}
#welcome{
      padding: 1%;
      background: #eee;
      display: inline-block;
      float:left;
      font-family:  "Book Antiqua", "Times New Roman", sans-serif;
      border-radius: 25px;
}
#boton{
      margin: 0px 0px 0px 2%;
      padding: 0.8% 1%;
      background: #eee;
      display: inline-block;
      border: 1%;
      border-color: #000;
      border-radius: 20px;
}
#sessioninit{
      float:right;
      margin: 0px 5% 0px 0px;
      padding: 0.8% 1%;
      background: #eee;
      display: inline-block;
      border: 1%;
      border-color: #000;
      text-align: center;
      border-radius: 25px;
}
#sessionobject{
      float:right;
      margin: 0px 7% 0px 0px;
      padding: 0.8% 1%;
      background: #fff;
      display: inline-block;
      border: 1%;
      border-color: #000;
      border-radius: 25px;
}

#content{
      position: relative;
      width: 100%;
      background: #fff;
      min-height: 89vh;
}
#sidebar {
      position: absolute;
      float: left;
      /*padding: 40px 0px 0px 0px;
      */
      width: 10%;
      z-index: 99;
      text-align: center;
      background: #aaa;
      min-height: 89vh;
      max-height: 100%;
}
#sidebutton{
      margin: 5% 10%;
      padding: 8% 8%;
      background: #eee;
      display: inline-block;
      border-radius: 25px;
}

#main{
      position: relative;
      margin-top: 3.3%;
      margin-left: 10%;
      text-align: center;
}
