// Place all the styles related to the City controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.skyline-box img{
  display: inline;
  clear: both;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 grey ;
  height: 15em;
  width: 100%;
}
//TODO: Dentro de lo posible, sería genial poder mostrar solo la mitad superior de la imágen en vez de apretarla al tamaño.

.link-a-ciudades {
      background-color: #004f49;
      display: inline;
      width: 10em;
      padding: 8px 20px;
      border: #00ffcc solid 1px;
      color: #00ffcc;
      margin: 3px 6px;
      border-radius: 30px;
}
.link-a-nueva-fac {
      background-color: #004f49;
      display: inline-block;
      width: 10em;
      padding: 8px 20px;
      border: #00ffcc solid 1px;
      color: #00ffcc;
      margin: 3px 6px;
      border-radius: 30px;
}
