// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-comment-box{
  padding: 8px 20px;
  background: #fff;
  box-shadow: 0 0 5px 0 grey ;
  display: inline-block;
  margin: 10px;
}

.volver-a-puntos{
      padding: 6px 14px;
      background: #004f49;
      color: #fff;
      box-shadow: 0 0 5px 0 grey ;
      display: inline-block;
      margin: 10px;
}

.comment-space{
      width: 60%;
      margin: 0 auto;
      display: block;
      padding: 2px 8px;

      #comment_comment_text{
            width: 100%;
            resize: vertical;
      }
      .comment-box-title{
            padding: 2px 8px;
            background: #ccc;
            box-shadow: 0 0 5px 0 grey ;
            display: inline-block;
            margin: 20px 10px 0px 0px;
            float: left;
      }

}
