// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture-box img{
  display: inline;
  clear: both;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 grey ;

}
